<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Days Calculator</title>
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153284871-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153284871-1');
</script> -->
</head>
<body>
	<header><h1 class="text-primary">Days Calculator</h1></header>
	<main class="container mt-5">
		<div class="card  mb-3">
  			<div class="card-header text-white bg-primary text-center">Count days</div>
		  	<div class="card-body">
		    	<form th:action="@{/result}" th:object="${dateForm}" method="POST" novalidate class="date-input-form">
					<!-- Start Date -->
					<div class="form-group">
						<label for="startDate">Start date</label> 
						<input type="date" class="form-control" id="startDate" 
								placeholder="yyyy-MM-dd" th:field="*{startDate}" required
								aria-describedby="startDateError">
						<span id="startDateError" 
							  th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger"></span>
					</div>
					
					<!-- End Date -->
					<div class="form-group">
						<label for="endDate">End date</label> 
						<input type="date" class="form-control" id="endDate" 
								placeholder="yyyy-MM-dd" th:field="*{endDate}" required
								aria-describedby="endDateError">
						<span id="endDateError"
							th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-danger"></span>
					</div>
					
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Calculate</button>
						<a th:href="@{/}" class="btn btn-outline-secondary">Reset</a>
					</div>		
				</form>
		  	</div>
		</div>
	</main>
</body>

</html>